In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [47]:
#Read in the data sets 
mydata1 = pd.read_excel("C:\\Users\Brian\Desktop\EECS_731\Project1\Data\People-who-visit-restaurants-in-the-us-2017-by-age.xlsx")
mydata2 = pd.read_excel("C:\\Users\Brian\Desktop\EECS_731\Project1\Data\People-who-visit-restaurants-in-the-us-2018-by-age.xlsx")

#Group the data sets with pandas
grouped = pd.merge(mydata1, mydata2, how = "outer")
#Sort the data sets 
grouped = grouped.sort_values(["Company","Age"])
#Drop a constant column
grouped = grouped.drop(columns=["Country"])

#Display the first 60 results
print(grouped.head(50))
#Display total size of the data set
print(grouped.shape)

#Uncomment to create an Excel spreadsheet of the total data set
#grouped.to_excel("C:\\Users\Brian\Desktop\EECS_731\Project1\Data\SingleSet.xlsx")

                    Company            Age  Share of respondents  Year
6                    Arby's    18-29 years                 65.98  2017
57                   Arby's    18-29 years                 34.50  2018
7                    Arby's    30-49 years                 68.90  2017
58                   Arby's    30-49 years                 47.62  2018
8                    Arby's    50-64 years                 71.92  2017
59                   Arby's    50-64 years                 38.46  2018
0               Burger King  18 - 29 years                 78.34  2017
51              Burger King  18 - 29 years                 53.53  2018
1               Burger King  30 - 49 years                 82.89  2017
52              Burger King  30 - 49 years                 63.95  2018
2               Burger King  50 - 64 years                 85.43  2017
53              Burger King  50 - 64 years                 51.24  2018
24              Chick-fil-A  18 - 29 years                 74.32  2017
75              Chick-fil-A  18 - 29 years                 67.54  2018
25              Chick-fil-A  30 - 49 years                 69.45  2017
76              Chick-fil-A  30 - 49 years                 23.98  2018
26              Chick-fil-A  50 - 64 years                 71.26  2017
77              Chick-fil-A  50 - 64 years                 55.76  2018
33   Chipotle Mexican Grill  18 - 29 years                 51.76  2017
84   Chipotle Mexican Grill  18 - 29 years                 47.90  2018
34   Chipotle Mexican Grill  30 - 49 years                 56.73  2017
85   Chipotle Mexican Grill  30 - 49 years                 66.83  2018
35   Chipotle Mexican Grill  50 - 64 years                 59.29  2017
86   Chipotle Mexican Grill  50 - 64 years                 52.11  2018
36                 Domino's  18 - 29 years                 93.65  2017
87                 Domino's  18 - 29 years                 91.87  2018
37                 Domino's  30 - 49 years                 96.11  2017
88                 Domino's  30 - 49 years                 85.63  2018
38                 Domino's  50 - 64 years                 97.39  2017
89                 Domino's  50 - 64 years                 93.90  2018
3            Dunkin' Donuts    18-29 years                 57.73  2017
54           Dunkin' Donuts    18-29 years                 35.87  2018
4            Dunkin' Donuts    30-49 years                 49.72  2017
55           Dunkin' Donuts    30-49 years                 40.81  2018
5            Dunkin' Donuts    50-64 years                 46.29  2017
56           Dunkin' Donuts    50-64 years                 24.09  2018
48          Jack in the Box  18 - 29 years                 50.29  2017
99          Jack in the Box  18 - 29 years                 53.12  2018
49          Jack in the Box  30 - 49 years                 53.32  2017
100         Jack in the Box  30 - 49 years                 59.63  2018
50          Jack in the Box  50 - 64 years                 62.12  2017
101         Jack in the Box  50 - 64 years                 65.90  2018
9                       KFC  18 - 29 years                 82.11  2017
60                      KFC  18 - 29 years                 44.07  2018
10                      KFC  30 - 49 years                 86.47  2017
61                      KFC  30 - 49 years                 56.35  2018
11                      KFC  50 - 64 years                 90.37  2017
62                      KFC  50 - 64 years                 42.56  2018
42           Little Caesars  18 - 29 years                 40.34  2017
93           Little Caesars  18 - 29 years                 38.80  2018
(102, 4)